.dostv-section .slick-slide {
  margin-right: 17px;
  /* width: 195px !important; */
}

@media only screen and (max-width: 430px) {
  .dostv-section .slick-slide {
    height: 200px;
    margin-right: 25px;
  }

  .dostv-section .slick-slide > div {
    height: 100%;
  }

  .dostv-section .slide-slide img {
    object-fit: contain;
  }

  .dostv-section .slick-slider .slick-dots {
    position: absolute;
    bottom: -20%;
  }

  .dostv-section .slick-slider .slick-dots li > button::before {
    color: white;
    font-size: 0;
  }

  .dostv-section .slick-slider .slick-dots li.slick-active > button::before {
    color: #6FD2F9;
    font-size: 0;
  }

  .dostv-section .slick-slider .slick-dots li > button {
    width: 6px;
    height: 6px;
    background: white;
    border-radius: 50%;
  }

  .dostv-section .slick-slider .slick-dots li.slick-active > button {
    background: #6FD2F9;
  }

  .dostv-section .slick-slider .slick-dots {
    position: absolute;
    bottom: -15%;
  }
}